.flex.flex-wrap.flex-row.justify-center
  = render @projects

= link_to new_project_path do
  .mx-auto.mt-10.flex.flex-col.w-max.px-4.py-2.bg-orange-500.border.border-b-4.border-orange-600.rounded-md.text-sm.text-orange-50.hover:bg-orange-600.hover:border-orange-700.hover:shadow-lg.transition-all
    New Project
 