.flex.flex-row.p-2.items-center
  %i.ph.ph-user.mr-1
  .text-sm.text-stone-800
    = identified_user.email || identified_user.external_id
  .text-xs.text-stone-500.ml-auto
    = pluralize(identified_user.logs.count, 'event')