= render 'projects/header', project: @project

.grid.grid-cols-4.gap-5.mt-5
  .rounded-md.border.border-stone-300.p-2.gap-2.flex.flex-col.h-max{class: 'bg-stone-200/50'}
    .text-lg
      = @identified_user.email || @identified_user.external_id
  .h-max.divide-y.divide-stone-300.rounded-md.border.border-stone-300.col-span-3{class: 'bg-stone-200/50'}
    = render @identified_user.logs